[system]
    debug = true
    response_type = 'array'
    use_cache = true

[system.log]
    level = 'debug'
    file = 'logs/wechat.log'

[route]
        [route.open_platform]
            uri=  '/server'

[domain]
        primary = 'https://api.mch.weixin.qq.com/

[official_account]
        [official_account.default]
            app_id ='wx426b3015555a46be'                    #AppID
            secret = '7813490da6f1265e4901ffb80afaa36f'     #AppSecret
            token = 'your-token'                            #Token
            aes_key = '8934e7d15453e97507ef794cf7b0519d'    #EncodingAESKey


        [official_account.oauth]
            scopes   = ['snsapi_userinfo']
            callback = '/examples/oauth_callback'


[open_platform]
        [open_platform.default]
            app_id ='wx426b3015555a46be'                      #AppID
            secret = '7813490da6f1265e4901ffb80afaa36f'       #AppSecret
            token = 'your-token'                              #Token
            aes_key = ''                                      #EncodingAESKey

[mini_program]
        [mini_program.default]
            app_id ='wx426b3015555a46be'                      #AppID
            secret = '7813490da6f1265e4901ffb80afaa36f'       #AppSecret
            token = 'your-token'                              #Token
            aes_key = '8934e7d15453e97507ef794cf7b0519d'      #EncodingAESKey

[payment]
        [payment.default]
            sandbox = false
            app_id ='wx426b3015555a46be'
            mch_id = '1900009851'
            key = '8934e7d15453e97507ef794cf7b0519d'
            notify_url ='wxpay/notify'
            cert_path = 'cert/apiclient_cert.pem'
            key_path = 'cert/apiclient_key.pem'

[work]
        [work.default]
            corp_id = 'xxxxxxxxxxxxxxxxx'
            agent_id = 100020
            secret  = ''
